html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;

    color: rgb(23, 23, 23);
}

html a {
    text-decoration: none;
}

/** MARGES DISPOSITIU MÒBIL**/
@media screen and (max-width: 480px) {
    .container {
        margin-left: 2%;
        margin-right: 2%;
    }

    .col_2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(50px, auto);
        gap: 0px;
    }

    .menu_vertical>li {
        display: inline-flex;
    }

    .menu_vertical>li:nth-child(odd):after {
        content: "·";
        margin-left: 0.3rem;
        color: rgb(245, 157, 35);
    }

    .video {
        height: 0;
        overflow: hidden;
        padding-bottom: 50%;

        position: relative;
    }

    iframe {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 100%;
    }

    .peu_video {
        padding-bottom: 10%;
        padding-left: 5%;
    }
}

/** MARGES TABLET**/
@media screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }

    .col_2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(50px, auto);
        gap: 0px;
    }

    .menu_vertical>li {
        display: inline-flex;
    }

    .menu_vertical>li:nth-child(odd):after {
        content: "·";
        margin-left: 0.3rem;
        color: rgb(245, 157, 35);
    }

    .video {
        height: 0;
        overflow: hidden;
        padding-bottom: 50%;

        position: relative;
    }

    iframe {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 100%;
    }

    .peu_video {
        padding-bottom: 10%;
        padding-left: 5%;
    }
}

/** MARGES DESKTOP**/
@media screen and (min-width: 1024px) {
    .container {
        margin-left: 20%;
        margin-right: 20%;
    }

    .col_2 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-auto-rows: minmax(50px, auto);
        gap: 0px;
        margin-bottom: 5%;
        position: relative;
    }

    .menu_vertical,
    .dones {
        text-align: left;
    }

    .menu>li {
        display: inline-flex;
        padding-right: 2%;
    }

    .menu_inicial {
        position: absolute;
        width: 75%;
        top: 90%;
        left: 80%;
        transform: translate(-50%, -50%);
    }

    .video {
        height: 0;
        overflow: hidden;
        padding-bottom: 30%;
        position: relative;
    }

    iframe {
        position: absolute;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        width: 60%;
    }

    .peu_video {
        padding-bottom: 10%;
        padding-left: 25%;
    }
}

footer {
    padding: 1.5rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255) !important;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 1.1rem;
}

footer a {
    color: rgb(255, 255, 255) !important;
    text-decoration: none;
    border-bottom: initial;
}

footer a:hover {
    color: rgb(245, 157, 35) !important;
    text-decoration: none;
    border-bottom: initial;
}

#email {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#button {
    background-color: rgb(240, 93, 80);
    color: rgb(255, 255, 255);
}

.menu,
.menu_vertical,
.privacitat {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
}

.privacitat>li {
    display: inline-flex;
    padding-right: 10px;
}

.mida-xs {
    font-size: 0.6rem;
}

.mida-s {
    font-size: 0.7rem;
}

.mida-m {
    font-size: 1rem;
}

.mida-l {
    font-size: 1.5rem;
}

.mida-xl {
    font-size: 2rem;
}

.mida-xxl {
    font-size: 3rem;
}

.bold-700 {
    font-weight: 700;
}

.bold-800 {
    font-weight: 800;
}

.centrat {
    text-align: center;
}

.esq {
    text-align: left;
}

img {
    max-width: 100%;
}

.box1 img {
    max-width: 75%;
}

.box1 {
    align-items: center;
    text-align: center;
    background-color: rgb(240, 93, 80);
}

.box2 {
    padding: 10px;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 157, 35);
}

.box {
    margin: 5%;
}

blockquote {
    margin: 5%;
    padding: 3%;
    background-color: rgb(227, 228, 230);
    position: relative;
}

.box_roig {
    float: left;
    margin-right: 5px;
    width: 20px;
    height: 4px;
    background-color: rgb(240, 93, 80);
}

figcaption {
    padding-left: 15%;
}

.row,
.col_3 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 10px;
    text-align: left;
}

.row div:first-child p {
    margin-bottom: 5px;
    margin-top: 0;
}

.col_4 {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    grid-auto-rows: minmax(100px, auto);
    gap: 20px;
}

.menu a,
.col_4 a,
.llista a:hover {
    color: rgb(93, 95, 121);
}

.menu a:hover,
.llista a,
.col_4 a:hover,
.menu_vertical a,
.row div:nth-child(3) a,
.iniciatives a {
    color: rgb(245, 157, 35);
}

.row p {
    line-height: normal;
}

.row div:first-child {
    font-weight: 800;
}

.col1 p:first-child {
    color: rgb(240, 93, 80);
    font-size: 175%;
}

.col1 p:nth-child(3) {
    font-size: 125%;
}

.iniciatives {
    line-height: 1.3rem;
    padding: 0 4%;
    margin-bottom: 2%;
}

.box_inic {
    float: left;
    margin-right: 15px;
    width: 15px;
    height: 15px;
    background-color: rgb(240, 93, 80);
}

dt {
    font-weight: 700;
}

dd {
    font-size: smaller;
}

.iniciatives dd:nth-child(even) {
    margin-bottom: 3%;
}